body {
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
	color: white;
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.card::after {
  content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.steel {
	background-color: #ADADC6;
}

.fire {
	background-color: #f3a292;
}

.grass {
	background-color: #94c97a;
}

.electric {
	background-color: #f8db91;
}

.water {
	background-color: #88bef5;
}

.ice {
	background-color: #84d4e6;
}

.ground {
	background-color: #dac27f;
}

.rock {
	background-color: #c2ad70;
}

.fairy {
	background-color: #F7B5F7;
}

.poison {
	background-color: #b670a9;
}

.ghost {
	background-color: #9393c2;
}

.bug {
	background-color: #b6be65;
}

.dragon {
	background-color: #6a6292;
}

.psychic {
	background-color: #f89cbc;
}

.flying {
	background-color: #9CADF7;
}

.fighting {
	background-color: #a07769;
}

.dark {
	background-color: #735A4A;
}

.normal {
	background-color: #ADA594;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}